
@{
    ViewBag.Title = "CourbesDeCroissance";
}

<h2>CourbesDeCroissance</h2>

<div class="container">

    <div class="card col-md-6 col-sm-12 mx-auto p-0">
        <div class="card-header text-center">
            Courbes de croissance
        </div>
        <div class="card-body">
            <div class="">

                <div class="form-check form-check-inline col-3 ">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Bébé</label>
                </div>
                <div class="form-check form-check-inline col-3 ">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Enfant</label>
                </div>

                <div class="input-group mb-2 mt-2 col-6 ">
                    <div class="input-group-prepend">
                        <label class="input-group-text " for="inputGroupSelect01">Sexe</label>
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                        <option value="1">Garçon</option>
                        <option value="2">Fille </option>
                    </select>
                </div>
                <input class="form-control form-control-sm mb-2 col-4" type="text" placeholder="Age ">
                <input class="form-control form-control-sm mb-2 col-3" type="text" placeholder="Taille">
                <input class="form-control form-control-sm mb-2 col-3" type="text" placeholder="Poids">

            </div>

            <a href="#" class="btn btn-primary">Calculer</a>
        </div>
    </div>
    <div class="mt-2 col-md-6 col-sm-12 mx-auto border border-success rounded">
        <section class="d-inline col-md-6 col-sm-12 bg-danger">
            test
        </section>
        <section class="d-inline col-md-6 col-sm-12 bg-info">
            test
        </section>
        <div class="alert alert-primary">
            Bienvenue sur Tesla. Ce site est en maintenance.
            <hr>
            <div class="btn-group w-100">
                <button type="button" class="btn btn-danger ">Suivre les avancements</button>
                <button type="button" class="btn btn-success ">Nous contacter</button>
            </div>
        </div>


    </div>

</div>
