
@{
    ViewBag.Title = "DeplacerRDV";
}

<h2></h2>
<br />
<h3 class="text-center">@ViewBag.Message</h3>
<br /><hr />

<body class="container mx-auto">
    <div class="row">
        <div class="mx-auto my-auto">
            <div class=" card col-lg-10 col-md-12 col-sm-12 mx-auto bg-light">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">

                        <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-calendar2-check" viewBox="0 0 16 16">
                            <path d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                            <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z" />
                            <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z" />
                        </svg>
                        Gestion des RDV
                    </h3>
                    <p class="card-text"></p>

                </div>
                <div class="row">
                    <div class="btn-group btn-group-toggle mx-auto" role="group" aria-label="">
                        <a class="btn ns-btn col-sm-10 col-md-4 text-lg-center" id="btnRDV" data-toggle="collapse" href="#vosRdv" role="button" aria-expanded="false" aria-controls="autreRdv"><i class="bi bi-calendar2-check"></i><h5>Vos rendez-vous</h5></a>
                        <a class="btn ns-btn col-sm-10 col-md-4 text-wrap" id="btnAutre" data-toggle="collapse" href="#autreRdv" role="button" aria-expanded="false" aria-controls="autreRdv"><h5>Autres disponibilités</h5></a>
                        <a class="btn ns-btn col-md-4 text-wrap " id="btnPolitique" data-toggle="collapse" href="#politiqueAnnulation" role="button" aria-expanded="false" aria-controls="politiqueAnnulation"><h5>Politique rendez-vous</h5></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="collapse " id="vosRdv">
                            <div class="card card-body bg-transparent border-0">
                                <div class="card">
                                    <h5 class="card-header">Afficher date RDV</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">Le nom du diététiste </h5>
                                        <p class="card-text">TÉLÉCONSULTATION (Skype/Teams, Telephone, FaceTime).</p>
                                        <a href="#" class="btn btn-success font-weight-bold">DÉPLACER</a>
                                        <a href="#" class="btn btn-success font-weight-bold ">Annuler</a>

                                    </div>
                                </div>

                            </div>
                            <div class="card card-body bg-transparent border-0">
                                <div class="card">
                                    <h5 class="card-header">Afficher date RDV</h5>
                                    <div class="card-body">
                                        <h5 class="card-title">Le nom du diététiste </h5>
                                        <p class="card-text">TÉLÉCONSULTATION (Skype/Teams, Telephone, FaceTime).</p>
                                        <a href="#" class="btn btn-success font-weight-bold">DÉPLACER</a>
                                        <a href="#" class="btn btn-success font-weight-bold">Annuler</a>

                                    </div>
                                </div>

                            </div>
                        </div>



                        <div class="collapse mb-1" id="autreRdv">
                            <div class="card card-body">
                                <p class="text-break">
                                    Choisissez une ou plusieurs cliniques <span class="font-weight-bold">:</span>  <br /><br />
                                    Depuis les <span class="font-weight-bold">10 dernières années</span> NutriSimple suit des centaines de clients en PRÉSENTIEL et en TÉLÉCONSULTATION (Skype/Teams, Téléphone, Facetime, Zoom)
                                </p>
                                <div class="card">
                                    <div class="card-header">
                                        <ul class="nav nav-tabs card-header-tabs">
                                            <li class="nav-item active col-md-3 col-sm-6 ">
                                                <a class="nav-link active" data-toggle="tab" role="tab" href="#nutListView">1 Choisir nutritionnistes</a>
                                            </li>
                                            <li class="nav-item col-md-3 col-sm-6">
                                                <a class="nav-link " data-toggle="tab" role="tab" href="#cliListView">2 - Choisir cliniques</a>
                                            </li>
                                            <li class="nav-item col-md-3 col-sm-6">
                                                <a class="nav-link " data-toggle="tab" role="tab" href="#jourRdv">3 - Choisir jour du RDV</a>
                                            </li>
                                            <li class="nav-item col-md-3 col-sm-6">
                                                <a class="nav-link " data-toggle="tab" role="tab" href="#heurRdv">4 - Choisir heur RDV</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="nutListView">
                                                Cochez une ou plusieurs nutritionnistes <br />
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Nutritionniste X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Nutritionniste X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Nutritionniste X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Nutritionniste X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Nutritionniste X
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <div class="row">
                                                    <div class=" col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnSuivant btn ns-btn btn-sm font-weight-bold w-100">Suivant</button>
                                                    </div>
                                                    <div class="col-md-4 col-sm-0">

                                                    </div>
                                                    <div class="col-md-4 col-sm-12">

                                                    </div>
                                                </div>

                                            </div>
                                            <div role="tabpanel" class="tab-pane " id="cliListView">
                                                Cochez une ou plusieurs cliniques
                                                <br /> <br />
                                                <ul class="list-group">
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Clinique X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Clinique X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Clinique X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Clinique X
                                                            </label>
                                                        </div>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="checkbox" id="gridCheck">
                                                            <label class="form-check-label" for="gridCheck">
                                                                Clinique X
                                                            </label>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <div class="row">
                                                    <div class=" col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100">Precedent</button>
                                                    </div>
                                                    <div class="col-md-4 col-sm-0 ">

                                                    </div>
                                                    <div class="col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnSuivant btn ns-btn btn-sm font-weight-bold w-100">Suivant</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="jourRdv">
                                                Afficher les jours disponible pour le RDV
                                                <div class="row">
                                                    <div class=" col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100">Precedent</button>
                                                    </div>
                                                    <div class="col-md-4 col-sm-0">

                                                    </div>
                                                    <div class="col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnSuivant btn ns-btn btn-sm font-weight-bold w-100">Suivant</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="heurRdv">
                                                afficher les heures disponible pour les RDV
                                                <div class="row">
                                                    <div class=" col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100">Precedent</button>
                                                    </div>
                                                    <div class="col-md-4 col-sm-0">

                                                    </div>
                                                    <div class="col-md-4 col-sm-12 mt-1">
                                                        <button type="button" class="btnConfirmation btn ns-btn btn-sm font-weight-bold w-100">Confirmation</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class=" btn-toolbar bg-danger" role="toolbar" aria-label="Toolbar with button groups">


                                </div>
                                
                            </div>
                        </div>
                        <div class="collapse mb-1" id="politiqueAnnulation">
                            <div class="card card-body ">

                                <p class="w-100">
                                    Pour éviter la facturation de la rencontre prévue, vous devez annuler <span class="text-warning font-weight-bold">48h AVANT</span> votre rendez-vous. Un rendez-vous téléphonique ou par Skype est une alternative offerte.
                                    Toute requête d'annulation à l'intérieur d'une période de 2 jours avant un rendez-vous doit se faire par téléphone.
                                    <div>

                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                            crossorigin="anonymous"></script>
                    <script> // changement des windows (vos rdv - autre rdv - politique rdv)
                        $('#autreRdv').hide();
                        $('#politiqueAnnulation').hide();
                        $('#vosRdv').hide();
                        $(document).ready(function () {
                            //var visibilite = jQuery('#vosRdv').is(: visible);
                            //if ($("#vosRdv").is(":visible")) { alert("#monelement est visible"); }



                            $('#btnRDV').on('click', function () {
                                var visibiliti0 = jQuery("#vosRdv").is(":visible");
                                if (visibiliti0) {
                                    $('#vosRdv').hide();
                                }
                                else {
                                    $('#autreRdv').hide();
                                    $('#politiqueAnnulation').hide();
                                    $('#vosRdv').show();
                                }
                            });

                            $('#btnAutre').on('click', function () {
                                var visibiliti1 = jQuery("#autreRdv").is(":visible");
                                if (visibiliti1) {
                                    $('#autreRdv').hide();
                                }
                                else {
                                    $('#autreRdv').show();
                                    $('#vosRdv').hide();
                                    $('#politiqueAnnulation').hide();

                                }
                            });

                            $('#btnPolitique').on('click', function () {
                                var visibiliti2 = jQuery("#politiqueAnnulation").is(":visible");
                                if (visibiliti2) {
                                    $('#politiqueAnnulation').hide();
                                }
                                else {
                                    $('#autreRdv').hide();
                                    $('#vosRdv').hide();
                                    $('#politiqueAnnulation').show();
                                }
                            });

                        });
                    </script> 
                    <script> // choisir nouveau RDV
                        const etaps = Array.from(document.querySelectorAll('div .tab-pane'));
                        const headCard = Array.from(document.querySelectorAll('li .nav-link'));
                        console.log(headCard);
                        const nextBtn = document.querySelectorAll('div .btnSuivant');
                        const prevBtn = document.querySelectorAll('div .btnPrecedent');
                        const card = document.querySelectorAll('tab-content');
                        //console.log(card);

                        nextBtn.forEach(button => {
                            button.addEventListener('click', (e) => {
                                changeEtap('next');
                            })
                        })
                        prevBtn.forEach(button => {
                            button.addEventListener('click', () => {
                                changeEtap('prev');
                            })
                        })

                        function changeEtap(btn) {
                            let index = 0;
                            const active = document.querySelector('div .tab-pane.active');
                            const hedActive = index
                            index = etaps.indexOf(active);
                            etaps[index].classList.remove('active');
                            headCard[index].classList.remove('active');
                            //console.log(headCard[index])
                            if (btn === 'next') {
                                index++
                            }
                            else if (btn === 'prev') {
                                index--
                            }
                            etaps[index].classList.add('active');
                            headCard[index].classList.add('active');
                            //console.log(index)
                        }
                    </script>
                </div>
            </div>



        </div>
    </div>
</body>

