
@{
    ViewBag.Title = "JournalAlimentaire";
}

<h2 class="mt-5">JournalAlimentaire</h2>


<div class="container">
    <div class="row">
        <div class="col-12">


        </div>
        <div class="dropdown col-12">
            <button class="btn btn-light dropdown-toggle w-100 tex shadow text-left" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Choisir dans la liste
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">1 - Pas faim du tout</a>
                <a class="dropdown-item" href="#">2 - Faim à peine perceptible</a>
                <a class="dropdown-item" href="#">3 - Faim normale (ex. petit creux dans l'estomac)</a>
                <a class="dropdown-item" href="#">4 - Faim moyenne</a>
                <a class="dropdown-item" href="#">5 - Faim intense ou incontrôlable</a>

            </div>

        </div>
    </div>

</div>
<div class="bg-ns-primary mt-5 text-center sizeTextBig    ">
    <P class="ns-border-top">test border</P>

</div>

<div class="row">
    <div class=" col-md-4 col-sm-12 mt-1">
        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100 d-flex justify-content-around ">
            <section>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left" viewBox="0 0 16 16">
                    <path d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z" />
                </svg>
            </section>
            <section>
                Précédent
            </section>
        </button>
    </div>


    <div class="col-md-4 col-sm-0">

    </div>
    <div class="col-md-4 col-sm-12 mt-1 ">
        <button type="button" class="btnSuivant btn ns-btn btn-sm font-weight-bold w-100 d-flex justify-content-around ">
            <section>
                Suivant
            </section>
            <section>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right btnSuivant text-right" viewBox="0 0 16 16">
                    <path d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z" />
                </svg>
            </section>
        </button>
    </div>


    <div class="card-body">
        <div class="tab-content">
           
            <div role="tabpanel" class="tab-pane active" id="cliListView">
                Cochez une ou plusieurs cliniques
                <br /> <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">
                                Clinique X
                            </label>
                        </div>
                    </li>   
                </ul>



                <div class="row d-flex justify-content-between">
                    <div class=" col-md-4 col-sm-6 mt-1">
                        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100">Précédent</button>
                    </div>
                    
                    <div class="col-md-4 col-sm-6 mt-1">
                        <button type="button" class="btnSuivant btn ns-btn btn-sm font-weight-bold w-100">Suivant</button>
                    </div>
                </div>
            </div>





            <div role="tabpanel" class="tab-pane" id="jourRdv">
                Afficher les jours disponible pour le RDV
                <div class="row">
                    <div class=" col-md-4 col-sm-12 mt-1">
                        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100">Précédent</button>
                    </div>
                    <div class="col-md-4 col-sm-0">

                    </div>
                    <div class="col-md-4 col-sm-12 mt-1">
                        <button type="button" class="btnSuivant btn ns-btn btn-sm font-weight-bold w-100">Suivant</button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="heurRdv">
                afficher les heures disponible pour les RDV
                <div class="row">
                    <div class=" col-md-4 col-sm-12 mt-1">
                        <button type="button" class="btnPrecedent btn ns-btn btn-sm font-weight-bold w-100">Précédent</button>
                    </div>
                    <div class="col-md-4 col-sm-0">

                    </div>
                    <div class="col-md-4 col-sm-12 mt-1">
                        <button type="button" class="btnConfirmation btn ns-btn btn-sm font-weight-bold w-100">Confirmation</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
