.bg-ns-seconder {
    background-color: #DEFBC5;
}

.bg-ns-primary {
    background-color: #82C143;
}

.sizeTextBig {
    font-size: 30px;
}

.colorNS {
    background-color: #82C143;
}
.colorNS-primary {
    color: #82C143;
}


.ns-btn {
    color: #fff;
    background-color: #82C143;
    border-color: #28a745;
}

.ns-btn:hover {
    color: #1e7e34;
    background-color: #ADB5BD;
    border-color: #1e7e34;
}



.ns-border-top {
    border-top: 5px solid #28a745 !important;
}

